[submodule "services/events-user-service"]
	path = services/events-user-service
	url = https://github.com/LuccaHeineck/events-user-service
[submodule "services/events-email-service"]
	path = services/events-email-service
	url = https://github.com/LuccaHeineck/events-email-service.git
[submodule "services/events-gateway"]
	path = services/events-gateway
	url = https://github.com/LuccaHeineck/events-gateway.git
[submodule "services/events-manager-service"]
	path = services/events-manager-service
	url = https://github.com/DanielCorbellini/event-manager-microservice.git
[submodule "services/events-certificates-service"]
	path = services/events-certificates-service
	url = https://github.com/DanielCorbellini/events-certificates-service.git
